.signup_main_container{
    min-height: 100dvh;
    max-width: 30em;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_main_container h1{
    
    align-self: self-start;
    /* background: #000; */
    margin-left: .8rem;
}
.form_container{
    padding: 1rem;
    min-width:100%;
}

  .form-fieldset {
    border: none;
    padding: 0;
  }
  
  .form-group {
    margin-bottom: .6rem;
  }
  
  fieldset {
    border: 1px solid lightgrey;
    border-radius: .4rem;
    padding: .4rem;
  }
  
  legend {
    font-weight:500;
    font-size: .8rem;
    color: var(--primary-color);
  }
  
  .form_input {
    width: 100%;

    padding: 5px;
    border: none;
    outline: none;
    /* border: 1px solid blue; */
    box-sizing: border-box;
  }
  
  .asterisk {
    color: red;
  }
  
  .form-question {
    margin-top: 1.25rem;
    font-weight: 400;
  }
  
  .question {
    margin-bottom: .8rem;
    font-weight: 500;
    color: black;
  }
  
  .form_radio {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 2rem;

  }

  .form_radio label{
    margin-left: .4rem;
  }